.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid;
    border-radius: 10px;
    margin-left: 2rem;
    padding: 2rem;
    min-width: 398px;
}

.input {
    padding: 10px;
    min-width: 300px;
    border-radius: 5px;
    border: 1px solid;
    margin-bottom: 2rem;
}