.logBtn {
    margin: 10px;
}

.flex {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1200px) {
    .logBtn {
        margin: 0 10px;
    }
    .flex {
        flex-direction: row;
    }
}